

@media screen and (max-height:720px) {

      .ScroolDetail{
        height: 125px;
      }
}


@media only screen and (min-height: 721px) and (max-height: 800px)  {

      .ScroolDetail{
        height: 240px;
      }
}

@media only screen and (min-height: 801px) and (max-height: 900px)  {
      .ScroolDetail{
        height: 320px;
      }
}

@media  screen and (min-height: 901px)   {
      .ScroolDetail{
        height: 350px;
      }
}