.dark-theme {
    background: #161d31 !important;
  }
  
  .fullscreen-enabled .dark-theme {
    background: #161d31 !important;
  }

  .light-theme {
    background: #f8f8f8 !important;
  }
  
  .fullscreen-enabled .light-theme {
    background: #f8f8f8 !important;
  }

  