.ant-table-thead .ant-table-cell {
    background-color: #283046!important;
    
  }
  .ant-table-cell {
background-color: #343d55;
}
.ant-table-cell:focus{
background-color: #283046!important;
}
.ant-table-cell:hover{
background-color: #283046!important;
}
.ant-spin-container::after{
    background-color: #283046!important;
}
.ant-table{
    background: #283046!important;
}
